*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    width: 100%;
    height: 75px;
    background-color: wheat;
    line-height: 75px;
    padding: 0px 100px;
}
nav .logo{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
}
nav .logo p{
float: left;
color: tomato;
}
nav ul{
    float: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
}
nav ul li a{
    color: brown;
    text-decoration: none;
    font-size: 18px;
    padding: 0px 32px;
}
nav ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 20px white;
}
/*Home Section */
.main{
    background-image: url("img5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
}
p{
    color: aqua;
    font-size: 40px;
    font-weight: bold;
    float: right;
    text-align: center;
}
.about{
    color: darkolivegreen;
    height: 755px;
    background-image: url("boy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.education{
    height: 755px;
    background-image: url("opju1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
}
.certification{
    height: 755px;
    background-image: url("cert.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 400px;
}
.certification a:hover{
        background-color: lightskyblue;
        color: red;
}
.con{
    height: 755px;
    background-image: url("contact.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-info{
    color: brown;
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
}
.contact-info i{
    margin-right: 20px;
    font-size: 25px;
}
.contact-form{
    max-width: 700px;
    margin-right: 50px;
}
.contact-info, .contact-form{
flex: 1;
}
.contact-form h2{
    color: brown;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
    padding-top: 50px;
}
.contact-form .text-box{
background: #000;
color: #fff;
border: none;
width: calc(50% - 10px);
height: 50px;
padding: 12px;
font-size: 15px;
border-radius: 5px;
box-shadow: 0 2px 2px red;
margin-bottom: 20px;
opacity: 0.9;
}
.contact-form .text-box:first-child{
    margin-right: 15px;
}
.contact-form textarea{
    background: #000;
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 3px 3px red;
    margin-bottom: 20px;
    opacity: 0.9;
}
.contact-form .send-btn{
float: right;
background: rosybrown;
color: #fff;
border: none;
width: 120px;
height: 40px;
font-size: 15px;
font-weight: 600;
text-transform: uppercase;
letter-spacing: 2px;
border-radius: 5px;
cursor: pointer;
transition: 0.3s;
transition-property: background;
}
.contact-form .send-btn:hover{
    background: lightgreen;
}
.icon{
    padding-top: 80px;
    margin-left: 450px;
}
.icon i{
    font-size: 40px;
    color: lemonchiffon;
}
.icon a{
    text-decoration: none;
    width: 80px;
    height: 80px;
    margin: 50px;
    background-color: black;
    border-radius: 50%;
    border: 5px solid aqua;
    align-items: center;
    justify-content: center;
    display: inline-flex;
}
.icon a:hover i{
    transform: scale(0.85);
}
.icon a:hover .fa-linkedin{
    color: #0A66C2;
}
.icon a:hover .fa-facebook{
    color: #1877F2;
}
.icon a:hover .fa-instagram{
    color: #E4405F;
}
.page-move{
    padding-top: 700px;
}
.page-move a{
    text-decoration: none;
}
.page-move a:hover{
    color: salmon;
    background-color: slateblue;
}
.page-movi{
    padding-top: 325px;
}
.page-movi a{
    text-decoration: none;
}
.page-movi a:hover{
    color: salmon;
    background-color: slateblue;
}
.page-movie{
    padding-top: 358px;
}
.page-movie a{
    text-decoration: none;
}
.page-movie a:hover{
    color: salmon;
    background-color: slateblue;
}
.page-movr{
    padding-top: 55px;
}
.page-movr a{
    text-decoration: none;
}
.page-movr a:hover{
    color: salmon;
    background-color: slateblue;
}.page-mova{
    padding-top: 1px;
}
.page-mova a{
    text-decoration: none;
}
.page-mova a:hover{
    color: salmon;
    background-color: slateblue;
}
